@CHARSET "UTF-8";

body {
    color: #333333;
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}

fieldset{
  width:500px;
  margin:0 auto;
  margin-top:8px;
  margin-bottom:2%;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;

}
h1#login{
  display:block;
  background:#808080;
  padding:20px 0; /*PADDING TODOS OS LADOS DE 20PX*/
  font-size:140%;
  font-weight:300;
  text-align:center;
  color:#fff;
}
form#login{
  background:#f0f0f0;
  padding:6% 4%;
}
input#login[type="password"]{
  width:76%;
  height:20px;
  margin-bottom:4%;
  border:1px solid #ccc;
  padding:4% 4% 4% 4%;
  font-family:'Open Sans',sans-serif;
  font-size:95%;
  color:#555;
}
.iconPassword{
  width:20px;
  height:20px;
  background-color:#808080;
  float:left;
  padding:4% 4% 4% 4%;
  margin-bottom:4%;
  background-repeat:no-repeat;
   background-image:url(https://cdn4.iconfinder.com/data/icons/font-awesome-2/2048/f09c-32.png);
  background-position:center;
  border:1px solid #ccc;
}
.iconUser{
  width:20px;
  height:20px;
  background-color:#808080;
  float:left;
  padding:4% 4% 4% 4%;
  margin-bottom:4%;
  background-repeat:no-repeat;
   background-image:url(https://cdn4.iconfinder.com/data/icons/font-awesome-2/2048/f007-32.png);
  background-position:center;
  border:1px solid #ccc;
}
input#login[type="text"]{
  width:76%;
  height:20px;
  margin-bottom:4%;
  border:1px solid #ccc;
  padding:4% 4% 4% 4%;
  font-family:'Open Sans',sans-serif;
  font-size:95%;
  color:#555;
}
button#login[type="submit"]{
  width:100%;
  background:#808080;
  border:0;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:100%;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}
h3#new{
    text-align:center;
    padding-top:20px;
}

button#login[type="submit"]:hover{
  background:#c0c0c0;
}
::-webkit-input-placeholder {

}

#header {
    width: 100%;
    height: 70px;
    background-color: #333333;
}

#content {
    width: 94%;
    margin-top: 15px;
    padding-left: 3%;
}

h1 {
    font-size: 24px;
    display: inline;
}

h2 {
    font-size: 36px;
    margin-bottom: 15px;
    font-weight: bold;
    padding-left: 10px;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #24738e;
}

table, tr, th, td {
    padding: 10px 0;
    border: 1px solid silver;
}

table {
  border-collapse: collapse;
  border-spacing: 5px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

th {
  padding: 15px 0;
  font-size: 14px;
  text-align: center;
}
tr{
  text-align: center;
  padding: 20px 0;
  background-color: #fff;
}
td {
    width: 66%;
    padding: 10px 2%;
}

button {
    font-size: 14px;
    padding: 5px 10px;
}

#footer {
    text-align: center;
}
#flush_success {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #155724;
    background-color: #d4edda;
}
#flush_error {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #721c24;
    background-color: #f8d7da;
}

select{
    height: 30px;
}
#header_menu {
    width: 57%;
    padding-top: 17px;
    padding-left: 3%;
    display: inline-block;
}

#user_name {
    color: #cccccc;
    width: 36%;
    padding-right: 3%;
    text-align: right;
    display: inline-block;
}

#header a {
    color: #eeeeee;
}

h1 a {
    color: #eeeeee;
}
body {
  width: 100%;
}

table#list th {
    background-color:grey;
    font-weight: bold;
    padding: 10px 2%;
    color:white
}

table#list .name {
    width: 20%;
    padding: 10px 2%;
}
table#list .date {
    width: 20%;
}

table#list .title {
    width: 37%;
}

table#list .action {
    width: 13%;
}

table#title_list th {
    background-color:grey;
    font-weight: bold;
    padding: 10px 2%;
    color:white
}

table#title_list .title_title {
    width: 50%;
}

table#title_list .title_action {
    width: 50%;
}

table#user_list th {
    background-color:grey;
    font-weight: bold;
    padding: 10px 2%;
    color:white
}

table#user_list td {
    width: 29%;
    padding: 10px 2%;
}

div#canvas_wrapper {
    width: 80%;
    margin: 0 auto;
}
div#point{
    padding: 0.5em 1em;
    margin: 2em 0;
    border: solid 3px #DC143C;
    border-radius: 10px;
}
div#point h3{
    font-size: 20px;
}
span#double{
    border-bottom: double 3px crimson;
}
div#point p{
    padding-left: 20px;
}
table#target {
    font-weight: bold;
    padding: 10px 2%;
}
tr#title{
    background-color:grey;
    color:white;
}
table#target .Segmentation {
    width:22%;
}
table#target .real {
    width:13%;
}
table#target .rate {
    width:13%;
}
table#target .rank {
    width:13%;
}
table#target .reach {
    width:13%;
}
table#target .rival {
    width:13%;
}
table#target .response {
    width:13%;
}

